// VARIABLES -----------------------------

$text_dark_med: rgba(0, 0, 0, .87);

$text_light_full: white;
$text_light_heavy: rgba(255, 255, 255, 0.87);
$text_light_med: rgba(255, 255, 255, .54);
$text_light_light: rgba(255, 255, 255, .35);

@font-face {
    font-family: "DIN Alternate Bold";
    src: url('../media/fonts/din_alt_bold.woff2') format('woff2'),
        url('../media/fonts/din_alt_bold.woff') format('woff');
}

$title_font: "DIN Alternate Bold",
sans-serif;
$header2_font: freight-sans-pro;
$body_font: proxima-soft;

$bg_dark_full: black;
$bg_dark_heavy: rgba(0, 0, 0, .8);
$bg_dark_med: rgba(0, 0, 0, 0.5);
$bg_dark_light_med: rgba(0, 0, 0, .3);
$bg_dark_light: rgba(0, 0, 0, 0.3);
$bg_dark_extra_light: rgba(0, 0, 0, 0.2);

$bg_light_med: rgba(255, 255, 255, 0.4);
$bg_light_light: rgba(255, 255, 255, 0.2);

$highlight: rgb(253, 215, 1);

$bg_submitc: rgb(117, 73, 97);
$bg_submit_mobile: linear-gradient(rgb(87, 59, 74), rgb(117, 73, 97));
$bg_submit_desktop: rgba(117, 73, 97, .6);

$bg_attendc: rgb(91, 85, 141);
$bg_attend_mobile: linear-gradient(rgb(61, 58, 88), rgb(91, 85, 141));
$bg_attend_desktop: rgba(91, 85, 141, .6);

$bg_learnc: rgb(47, 72, 112);
$bg_learn_mobile: linear-gradient(rgb(30, 48, 65), rgb(47, 72, 112));
$bg_learn_desktop: rgba(47, 72, 112, .6);

$bg_peoplec: rgb(62, 74, 139);
$bg_people_mobile: linear-gradient(rgb(39, 44, 73), rgb(62, 74, 139));
$bg_people_desktop: rgba(62, 74, 139, .6);

$topbar_min: 75px;
$topbar_max: 120px;

// BASE STUFF -----------------------------

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: auto;
    font-family: $body_font;
    font-size: 14pt;
    color: $text_dark_med;
    background-color: $bg_dark_full;
    text-align: center;

    &::-webkit-scrollbar {
        background-color: $bg_dark_full;
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $bg_light_light;

        &:hover {
            background-color: $bg_light_med;
        }
    }
}

// GENERAL SECTION STUFF -----------------------------

section {
    position: relative;
}

.section {
    min-height: calc(100vh - #{$topbar_min});

    // background-size: auto 30px;
    background-repeat: no-repeat;

    article {
        min-height: inherit;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $text_light_heavy;
        background-color: $bg_dark_light_med;
    }

    h1 {
        font-family: "DIN Alternate Bold";
        font-size: 45px;
        margin: 0;
        padding: 20px 10px;
    }

    h2 {
        font-family: $header2_font;
    }

    p {
        margin: 0 30px;
        padding: 10px 0 20px 0;
        text-align: left;
    }
}

// SPLASH PAGE -----------------------------

.top {
    display: block;
    padding: 10px 0;
    margin: 0;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: $bg_dark_heavy;
    transition: height .2s;

    h3 {
        display: none;
    }
}

.small {
    padding: 5px 0;
    height: 65px;

    div {
        background-image: url("../media/logo_mobile.png");
    }
}

.logo {
    height: inherit;
    width: 100%;
    background-image: url("../media/logo.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.splash {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: calc(100vh - #{$topbar_max});
}

.headerspace {
    height: $topbar_max;
}

.colcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 10;
}

.splashcol {

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    text-decoration: none;
    background-size: cover;
    background-position: center center;

    div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.7;
    }

    h1 {
        color: $text_light_heavy;
        font-family: "DIN Alternate Bold";
        z-index: 1;
        width: auto;
        margin: auto;
        font-size: 40px;
    }
}

.submitc {
    background-image: url("../media/submit.jpg");

    div {
        background-color: $bg_submitc;
    }

    // USE THIS WHEN WE CLOSE SUBMISSIONS
    // h3 {
    //     font-family: $header2_font;
    //     color: $text_light_med;
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    //     top: 70%;
    // }
}

.attendc {
    background-image: url("../media/attend.jpg");

    div {
        background-color: $bg_attendc;
    }
}

.learnc {
    background-image: url("../media/learn.jpg");

    div {
        background-color: $bg_learnc;
    }
}

.minus {
    position: relative;
    top: -$topbar_min;
}

.footer {
    margin: 0 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: $bg_dark_full;
    color: $text_light_heavy;

    a {
        font-size: 23px;
        font-weight: 700;
    }
}

// SUBMIT SECTION -----------------------------

.submit {

    background-image: $bg_submit_mobile;

    p {
        text-align: center;
    }

    ul {
        max-width: 800px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        margin: 0 auto;
        padding: 0;
        // background-color: $bg_dark_light;
    }

    li {
        list-style: none;
        flex-grow: 1;
        padding: 15px;
    }
}

// .submit-div {
//     padding: 0px 10px;
// }

.submit-button {
    // display: inline-block;
    color: $text_light_full;
    font-family: $header2_font;
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;

    background-color: $bg_dark_light;

    max-width: 600px;
    padding: 30px 70px;
    margin: 20px auto;

    border-width: 0;
    border-radius: 30px;

    transition: background-color 0.2s;
}

// ATTEND SECTION -----------------------------

.attend {
    background-image: $bg_attend_mobile;

    article {
        justify-content: initial;
    }
}

.attend-split {
    display: flex;
    justify-items: center;
    text-align: left;
    padding: 30px 40px;
    flex-direction: column;

    div {
        flex-grow: 1;
        height: auto;
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 0;
        font-family: $header2_font;
    }

    h1 {
        font-size: 50px;
        padding: 0;
    }
}

.attend-button {
    border-radius: 30px;
    display: inline-block;
    max-width: 350px;
    padding: 40px;

    color: $text_light_full;
    background-color: $bg_dark_light;
    
    text-decoration: none;
    font-family: $title_font;
    text-align: center;
    font-size: 40px;
    
    transition: background-color 0.2s;
}

.day-schedule {
    padding: 0;
    margin: 0;

    p {
        margin: 0;
        padding: 5px;
        text-align: center;
        font-weight: bold;
    }

    span {
        font-weight: normal;
        display: block;
    }

    h3 {
        text-align: center;
        position: relative;

        &::before,
        &:after {
            content: "";
            position: absolute;
            top: 10px;
            width: 35%;
            height: 2px;
            background-color: $bg_light_light;
        }

        &:before {
            left: 0px;
        }

        &::after {
            right: 0px;
        }
    }
}

// LEARN SECTION -----------------------------

.learn {
    background-image: $bg_learn_mobile;
}

.about-phyff {
    p {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        border-bottom: 2px solid rgba(255, 255, 255, .2);

        &:last-child {
            border-bottom: none;
        }
    }
}

.prev-winners {
    span {
        &::after {
            content: " - ";
        }

        &::before {
            content: " - ";
        }

        font-weight: bold;
        font-style: normal;
    }
}

.inline-link {
    text-decoration: underline;
}

.nathaniel-bio {
    text-align: left;
    margin: 20px 20px 20px 20px;

    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.workshop-list {
    li {
        cursor: pointer;
        list-style: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:before {
            content: "+";
            font-size: 30px;
            padding: 0 15px;
            float: left;
        }

        &:nth-child(2n+1) {
            background-color: $bg_dark_extra_light;
        }
    }

    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;

    h3 {
        margin: 0;
        padding: 10px;
        margin: none;
    }

    p {
        height: 100vh;
        max-height: 0px;
        padding: 0 10px;
        margin: 0;
        overflow-y: hidden;
        opacity: 0;
        transition: max-height 0.5s, opacity 0.5s;
    }
}

.open {
    &:before {
        content: "-" !important;
    }

    p {
        opacity: 1 !important;
    }
}

// PEOPLE SECTION ------------------------------

.people {

    background-image: $bg_people_mobile;

    h2 {
        margin: 0;
        padding: 20px 0;
    }

    figure {
        margin: 0 auto;
    }

    figcaption {
        margin: 20px;

        em {
            font-style: normal;
            font-weight: bold;
        }
    }

    img {
        width: 300px;
    }
}

.peoplediv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

// MISC -----------------------------

a {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $text_light_heavy;
}

.back-up {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    background-image: url("../media/up.png");
    background-color: $bg_dark_med;
    background-size: cover;
    border-radius: 25px;
    opacity: 0.7;
    transition: opacity 0.2s;
    z-index: 5;

    &:hover {
        opacity: 1;
    }
}

.floating-back-up {
    position: fixed;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// TABLET MODE -----------------------------

@media screen and (min-width: 800px) {

    .splash {
        height: 100vh;
    }

    .headerspace {
        height: 0;
    }

    .top {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        padding: 0;
        margin-top: 8vh;
        background: none;

        height: 11vh;
        min-height: 110px;
        max-height: 165px;

        width: 30vh;
        min-width: 300px;
        max-width: 450px;

        h3 {
            display: block;
            color: white;
            font-family: $title_font;
            font-size: 4vh;
            margin: 20px 0;
        }
    }

    .logo {
        width: auto;
        height: inherit;
        background-image: url("../media/logo.png") !important;
    }

    footer {
        overflow-x: auto;
    }

    .colcontainer {
        flex-direction: row;
    }

    .section {
        h1 {
            font-size: 60px;
        }
    }

    .submit {

        ul {
            display: block;
            
            li {
                display: inline-block;
            }
        }

    }

    // ATTEND SECTION HEADER

    .attend-split {
        flex-direction: row;
        padding: 40px 40px;
        margin: auto;
        width: 730px;

        h1 {
            font-size: 70px !important;
        }

    }

    .attend-button {
        margin: auto 0;
    }

    .minus {
        top: 0;
    }
}

// HOVERSTATE STUFF ------------------------------

@media (pointer: fine) {
    .splashcol {
        h1 {
            transition: opacity 0.2s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        // div {
        //     transition: background-color 0.2s;
        // }

        h3 {
            top: 60%;
            color: $text_light_light;
            transition: transform 0.2s;
        }

        &:hover {
            h1 {
                transform: scale(1.2);
                // color: $text_dark_med;
            }

            h3 {
                // color: $text_dark_med;
                transform: scale(1.1);
            }

            div {
                // opacity: 1;
                opacity: .8;
            }
        }
    }

    .submit-button {
        &:hover {
            background-color: $bg_dark_med;
        }
    }

    .attend-button {
        &:hover {
            background-color: $bg_dark_med;
        }
    }

}

// DESKTOP MODE ------------------------------

@media screen and (min-width: 1200px) {

    .back-up {
        display: block;
    }

    .submit {
        background: linear-gradient($bg_submit_desktop, $bg_submit_desktop), url("../media/submit_bg.jpg");
    }

    .submit-button {
        // max-width: 650px;
        font-size: 80px;
    }

    .attend {
        background: linear-gradient($bg_attend_desktop, $bg_attend_desktop), url("../media/attend_bg.jpg");

        h1 {
            font-size: 80px;
        }
    }

    .learn {
        background: linear-gradient($bg_learn_desktop, $bg_learn_desktop), url("../media/learn_bg.jpg");
    }

    .people {
        background: linear-gradient($bg_people_desktop, $bg_people_desktop), url("../media/more_bg.jpg");

        figure {
            border: none;
            padding: 0;
            margin: 0;
            max-width: 300px;
        }
    }

    .section {
        min-height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;

        h1 {
            font-size: 90px;
        }
    }

    .prev-winners {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 50px;

        p {
            padding: 5px 40px;
            text-align: center;
            margin: 0;
        }

        div {
            padding: 20px;
        }
    }

    .narrative {
        border-right: 2px solid $bg_light_med;
        border-bottom: 2px solid $bg_light_med;
    }

    .experimental {
        border-bottom: 2px solid $bg_light_med;
    }

    .documentary {
        border-right: 2px solid $bg_light_med;
    }

    .attend-split {
        div {
            margin-bottom: 0;
        }
    }

    .nathaniel-bio {
        img {
            width: 50%;
            float: right;
            margin: 20px 0px 20px 20px;
        }
    }

    .day-schedule {
        h3 {
            &::after {
                width: 40%;
            }

            &::before {
                width: 40%;
            }
        }

        span {
            display: inline;

            &::before {
                content: " - ";
            }
        }
    }

    .peoplediv {
        flex-direction: row;
        align-items: baseline;
    }
}