@font-face {
  font-family: "DIN Alternate Bold";
  src: url("../media/fonts/din_alt_bold.woff2") format("woff2"), url("../media/fonts/din_alt_bold.woff") format("woff");
}
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: auto;
  font-family: proxima-soft;
  font-size: 14pt;
  color: rgba(0, 0, 0, 0.87);
  background-color: black;
  text-align: center;
}
body::-webkit-scrollbar {
  background-color: black;
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

section {
  position: relative;
}

.section {
  min-height: calc(100vh - 75px);
  background-repeat: no-repeat;
}
.section article {
  min-height: inherit;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(0, 0, 0, 0.3);
}
.section h1 {
  font-family: "DIN Alternate Bold";
  font-size: 45px;
  margin: 0;
  padding: 20px 10px;
}
.section h2 {
  font-family: freight-sans-pro;
}
.section p {
  margin: 0 30px;
  padding: 10px 0 20px 0;
  text-align: left;
}

.top {
  display: block;
  padding: 10px 0;
  margin: 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: height 0.2s;
}
.top h3 {
  display: none;
}

.small {
  padding: 5px 0;
  height: 65px;
}
.small div {
  background-image: url("../media/logo_mobile.png");
}

.logo {
  height: inherit;
  width: 100%;
  background-image: url("../media/logo.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.splash {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: calc(100vh - 120px);
}

.headerspace {
  height: 120px;
}

.colcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 10;
}

.splashcol {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-basis: 0;
  flex-grow: 1;
  text-decoration: none;
  background-size: cover;
  background-position: center center;
}
.splashcol div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}
.splashcol h1 {
  color: rgba(255, 255, 255, 0.87);
  font-family: "DIN Alternate Bold";
  z-index: 1;
  width: auto;
  margin: auto;
  font-size: 40px;
}

.submitc {
  background-image: url("../media/submit.jpg");
}
.submitc div {
  background-color: #754961;
}

.attendc {
  background-image: url("../media/attend.jpg");
}
.attendc div {
  background-color: #5b558d;
}

.learnc {
  background-image: url("../media/learn.jpg");
}
.learnc div {
  background-color: #2f4870;
}

.minus {
  position: relative;
  top: -75px;
}

.footer {
  margin: 0 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
}
.footer a {
  font-size: 23px;
  font-weight: 700;
}

.submit {
  background-image: linear-gradient(#573b4a, #754961);
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s;
}
.submit a {
  margin-top: 0;
  text-decoration: none;
  font-size: 35px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.15);
}

.submit-list ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 0 10px;
  padding-bottom: 15px;
  flex-grow: 1;
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}
.submit-list li {
  padding: 10px 5px;
  font-size: 20px;
}

.attend {
  background-image: linear-gradient(#3d3a58, #5b558d);
}
.attend article {
  justify-content: initial;
}

.attend-split {
  display: flex;
  justify-items: center;
  text-align: left;
  padding: 30px 40px;
  flex-direction: column;
}
.attend-split div {
  flex-grow: 1;
  height: auto;
  margin-bottom: 30px;
}
.attend-split h2 {
  margin-bottom: 0;
  font-family: freight-sans-pro;
}
.attend-split h1 {
  font-size: 50px;
  padding: 0;
}

.attend-button {
  border-radius: 30px;
  display: inline-block;
  max-width: 350px;
  padding: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-family: "DIN Alternate Bold", sans-serif;
  text-align: center;
  font-size: 40px;
  transition: background-color 0.2s;
}

.day-schedule {
  padding: 0;
  margin: 0;
}
.day-schedule p {
  margin: 0;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
.day-schedule span {
  font-weight: normal;
  display: block;
}
.day-schedule h3 {
  text-align: center;
  position: relative;
}
.day-schedule h3::before, .day-schedule h3:after {
  content: "";
  position: absolute;
  top: 10px;
  width: 35%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}
.day-schedule h3:before {
  left: 0px;
}
.day-schedule h3::after {
  right: 0px;
}

.learn {
  background-image: linear-gradient(#1e3041, #2f4870);
}

.about-phyff p {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.about-phyff p:last-child {
  border-bottom: none;
}

.prev-winners span {
  font-weight: bold;
  font-style: normal;
}
.prev-winners span::after {
  content: " - ";
}
.prev-winners span::before {
  content: " - ";
}

.inline-link {
  text-decoration: underline;
}

.nathaniel-bio {
  text-align: left;
  margin: 20px 20px 20px 20px;
}
.nathaniel-bio img {
  width: 100%;
  margin-bottom: 20px;
}

.workshop-list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}
.workshop-list li {
  cursor: pointer;
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.workshop-list li:before {
  content: "+";
  font-size: 30px;
  padding: 0 15px;
  float: left;
}
.workshop-list li:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.2);
}
.workshop-list h3 {
  margin: 0;
  padding: 10px;
  margin: none;
}
.workshop-list p {
  height: 100vh;
  max-height: 0px;
  padding: 0 10px;
  margin: 0;
  overflow-y: hidden;
  opacity: 0;
  transition: max-height 0.5s, opacity 0.5s;
}

.open:before {
  content: "-" !important;
}
.open p {
  opacity: 1 !important;
}

.people {
  background-image: linear-gradient(#272c49, #3e4a8b);
}
.people h2 {
  margin: 0;
  padding: 20px 0;
}
.people figure {
  margin: 0 auto;
}
.people figcaption {
  margin: 20px;
}
.people figcaption em {
  font-style: normal;
  font-weight: bold;
}
.people img {
  width: 300px;
}

.peoplediv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(255, 255, 255, 0.87);
}

.back-up {
  display: none;
  position: absolute;
  right: 20px;
  top: calc(20px + 100vh);
  height: 50px;
  width: 50px;
  background-image: url("../media/up.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  border-radius: 25px;
  opacity: 0.7;
  transition: opacity 0.2s;
  z-index: 5;
}
.back-up:hover {
  opacity: 1;
}

.floating-back-up {
  position: fixed;
  top: 20px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (min-width: 800px) {
  .splash {
    height: 100vh;
  }

  .headerspace {
    height: 0;
  }

  .top {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    padding: 0;
    margin-top: 8vh;
    background: none;
    height: 11vh;
    min-height: 110px;
    max-height: 165px;
    width: 30vh;
    min-width: 300px;
    max-width: 450px;
  }
  .top h3 {
    display: block;
    color: white;
    font-family: "DIN Alternate Bold", sans-serif;
    font-size: 4vh;
    margin: 20px 0;
  }

  .logo {
    width: auto;
    height: inherit;
    background-image: url("../media/logo.png") !important;
  }

  footer {
    overflow-x: auto;
  }

  .colcontainer {
    flex-direction: row;
  }

  .section h1 {
    font-size: 60px;
  }

  .submit a {
    margin-left: auto;
    margin-right: auto;
  }

  .submit-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .submit-list ul {
    display: block;
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 0px;
    margin-left: 70px;
    text-align: right;
  }
  .submit-list div {
    flex-grow: 5;
    text-align: left;
    padding-left: 20px;
  }
  .submit-list li {
    display: block;
    padding: 15px;
    padding-right: 50px;
    font-size: 25px;
  }
  .submit-list p {
    font-size: 20px;
  }

  .attend-split {
    flex-direction: row;
    padding: 40px 40px;
    margin: auto;
    width: 730px;
  }
  .attend-split h1 {
    font-size: 70px !important;
  }

  .attend-button {
    margin: auto 0;
  }

  .minus {
    top: 0;
  }
}
@media (pointer: fine) {
  .splashcol h1 {
    transition: opacity 0.2s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .splashcol h3 {
    top: 60%;
    color: rgba(255, 255, 255, 0.35);
    transition: transform 0.2s;
  }
  .splashcol:hover h1 {
    transform: scale(1.2);
  }
  .splashcol:hover h3 {
    transform: scale(1.1);
  }
  .splashcol:hover div {
    opacity: 0.8;
  }

  .submit a {
    transition: 0.3s;
  }
  .submit a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0);
  }

  .attend-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (min-width: 1200px) {
  .back-up {
    display: block;
  }

  .submit {
    background: linear-gradient(rgba(117, 73, 97, 0.6), rgba(117, 73, 97, 0.6)), url("../media/submit_bg.jpg");
  }

  .attend {
    background: linear-gradient(rgba(91, 85, 141, 0.6), rgba(91, 85, 141, 0.6)), url("../media/attend_bg.jpg");
  }
  .attend h1 {
    font-size: 80px;
  }

  .learn {
    background: linear-gradient(rgba(47, 72, 112, 0.6), rgba(47, 72, 112, 0.6)), url("../media/learn_bg.jpg");
  }

  .people {
    background: linear-gradient(rgba(62, 74, 139, 0.6), rgba(62, 74, 139, 0.6)), url("../media/more_bg.jpg");
  }
  .people figure {
    border: none;
    padding: 0;
    margin: 0;
    max-width: 300px;
  }

  .section {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .section h1 {
    font-size: 90px;
  }

  .prev-winners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 50px;
  }
  .prev-winners p {
    padding: 5px 40px;
    text-align: center;
    margin: 0;
  }
  .prev-winners div {
    padding: 20px;
  }

  .narrative {
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }

  .experimental {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }

  .documentary {
    border-right: 2px solid rgba(255, 255, 255, 0.4);
  }

  .attend-split div {
    margin-bottom: 0;
  }

  .nathaniel-bio img {
    width: 50%;
    float: right;
    margin: 20px 0px 20px 20px;
  }

  .day-schedule h3::after {
    width: 40%;
  }
  .day-schedule h3::before {
    width: 40%;
  }
  .day-schedule span {
    display: inline;
  }
  .day-schedule span::before {
    content: " - ";
  }

  .peoplediv {
    flex-direction: row;
    align-items: baseline;
  }
}

/*# sourceMappingURL=style.css.map */
