// VARIABLES -----------------------------

$text_dark_med: rgba(0, 0, 0, .87);

$text_light_full: white;
$text_light_heavy: rgba(255, 255, 255, 0.87);
$text_light_med: rgba(255, 255, 255, .54);
$text_light_light: rgba(255, 255, 255, .35);

$body_font: "Roboto Mono", monospace, sans-serif;

$bg_dark_full: black;
$bg_dark_heavy: rgba(0, 0, 0, .8);
$bg_dark_med: rgba(0, 0, 0, 0.5);
$bg_dark_light_med: rgba(0, 0, 0, .3);
$bg_dark_light: rgba(0, 0, 0, 0.3);
$bg_dark_extra_light: rgba(0, 0, 0, 0.2);

$bg_light_med: rgba(255, 255, 255, 0.4);
$bg_light_light: rgba(255, 255, 255, 0.2);

$bg_submitc: rgba(116, 77, 57, 0.5);
$bg_attendc: rgba(143, 123, 69, 0.5);
$bg_learnc: rgba(57, 108, 116, 0.5);

// BASE STUFF -----------------------------

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: auto;
    font-family: $body_font;
    color: $text_dark_med;
    background-color: $bg_dark_full;
    text-align: center;

    &::-webkit-scrollbar {
        background-color: $bg_dark_full;
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $bg_light_light;

        &:hover {
            background-color: $bg_light_med;
        }
    }
}

// GENERAL SECTION STUFF -----------------------------

section {
  position: relative;
  min-height: calc(100vh - 120px);
}

.section {
  min-height: calc(100vh - 75px);

  article {
      min-height: inherit;
      max-width: 1000px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $text_light_heavy;
      background-color: $bg_dark_light_med;
  }

  h1 {
      font-size: 32px;
      margin: 0;
      padding: 20px 10px;
  }

  p {
      margin: 0 30px;
      padding: 10px 0 20px 0;
      text-align: left;
  }
}

// SPLASH PAGE -----------------------------

.top {
    display: block;
    padding: 10px 0;
    margin: 0;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: $bg_dark_heavy;
    transition: height .2s;
}

.small {
    padding: 5px 0;
    height: 65px;

    div {
        background-image: url("../media/logo_mobile.png");
    }
}

.logo {
    height: inherit;
    width: 100%;
    background-image: url("../media/logo.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.splash {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.headerspace {
    height: 120px;
}

.colcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 10;
}

.splashcol {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    text-decoration: none;
    background-size: cover;
    background-position: center center;

    div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    h1 {
        color: $text_light_full;
        z-index: 1;
        width: auto;
        margin: auto;
        font-size: 40px;
    }
}

.submitc {
    background-image: url("../media/submit.jpg");

    div {
        background-color: $bg_submitc;
    }

    h3 {
        color: $text_light_med;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 70%;
    }
}

.attendc {
    background-image: url("../media/attend.jpg");

    div {
        background-color: $bg_attendc;
    }
}

.learnc {
    background-image: url("../media/learn.jpg");

    div {
        background-color: $bg_learnc;
    }
}

.minus {
    position: relative;
    top: -75px;
}

.footer {
  margin: 0 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: $bg_dark_full;
  color: $text_light_med;

  a {
      font-size: 20px;
      text-decoration: underline;
  }
}

// SUBMIT SECTION -----------------------------

.submit {
    background: rgb(143, 92, 67);

    h1 {
        font-size: 60px;
        margin: 0;
    }

    p {
      text-align: center;
    }

    a {
        color: $text_light_full;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: $bg_dark_light;
    }

    li {
        list-style: none;
        flex-grow: 1;
        padding: 15px 0;
    }
}

.submit-div {
    padding: 0px 10px;
}

.submit-grid {
    span {
        &::after {
            content: " - ";
        }

        &::before {
            content: " - ";
        }

        font-weight: bold;
        font-style: normal;
    }
}

.submit-button {
    display: inline-block;
    color: $text_light_full;
    text-decoration: none;
    font-size: 50px;
    background-color: $bg_dark_light;
    border-radius: 30px;
    padding: 30px 70px;
    margin: 20px 0 0 0;
    transition: background-color 0.2s;
}

// ATTEND SECTION -----------------------------

.attend {
    background: rgb(206, 177, 98);

    article {
        justify-content: initial;
    }
}

.attend-split {
    display: flex;
    justify-items: center;
    text-align: left;
    padding: 30px 40px;
    flex-direction: column;

    div {
        flex-grow: 1;
        height: auto;
        margin-bottom: 30px;
    }

    h2 {
        margin-bottom: 0;
    }

    h1 {
        font-size: 50px;
        padding: 0;
    }
}

.attend-button {
    transition: background-color 0.2s;
    border-radius: 30px;
    display: inline-block;
    padding: 40px;
    color: $text_light_full;
    background-color: $bg_dark_light;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}

.day-schedule {
    padding: 0;
    margin: 0;

    p {
        margin: 0;
        padding: 5px;
        text-align: center;
        font-weight: bold;
    }

    span {
        font-weight: normal;
        display: block;
    }

    h3 {
        text-align: center;
        position: relative;

        &::before, &:after {
            content: "";
            position: absolute;
            top: 10px;
            width: 35%;
            height: 2px;
            background-color: $bg_light_light;
        }

        &:before {
            left: 0px;
        }

        &::after {
            right: 0px;
        }
    }
}

// LEARN SECTION -----------------------------

.learn {
    background: rgb(57, 108, 116);
}

.about-phyff {
    p {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        border-bottom: 2px solid rgba(255, 255, 255, .2);

        &:last-child {
            border-bottom: none;
        }
    }
}

.inline-link {
    text-decoration: underline;
}

.nathaniel-bio {
    text-align: left;
    margin: 20px 20px 20px 20px;

    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.workshop-list {
  li {
      cursor: pointer;
      list-style: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:before {
          content: "+";
          font-size: 30px;
          padding: 0 15px;
          float: left;
      }

      &:nth-child(2n+1) {
          background-color: $bg_dark_extra_light;
      }
  }

  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: left;

  h3 {
      margin: 0;
      padding: 10px;
      margin: none;
  }

  p {
      height: 100vh;
      max-height: 0px;
      padding: 0 10px;
      margin: 0;
      overflow-y: hidden;
      opacity: 0;
      transition: max-height 0.5s, opacity 0.5s;
  }
}

.open {
    &:before {
        content: "-" !important;
    }

    p {
        opacity: 1 !important;
    }
}

.people {
    h2 {
        margin: 0;
        padding: 20px 0;
    }

    background: rgb(100, 63, 78);

    figure {
        margin: 0 auto;
    }

    figcaption {
        margin: 20px;

        em {
            font-style: normal;
            font-weight: bold;
        }
    }

    img {
        width: 300px;
    }
}

.peoplediv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

// MISC -----------------------------

a {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.back-up {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  background-image: url("../media/up.png");
  background-color: $bg_dark_med;
  background-size: cover;
  border-radius: 25px;
  opacity: 0.7;
  transition: opacity 0.2s;
  z-index: 5;

  &:hover {
      opacity: 1;
  }
}

.floating-back-up {
  position: fixed;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// RESPONSIVE SHIT -----------------------------

@media screen and (min-width: 700px) {
    .attend-split {
        flex-direction: row;
    }

    .attend {
        h1 {
            font-size: 70px;
        }
    }

    .attend-button {
        margin: auto 40px auto 0;
    }
}

@media screen and (min-width: 1000px) {
    html {
        height: 400%;
    }

    .headerspace {
        height: 0;
    }

    .top {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        padding-top: 50px;
        height: 200px;
        max-height: 25vh;
        width: 400px;
        background: none;
    }

    .logo {
        width: auto;
        max-height: inherit;
        background-image: url("../media/logo.png") !important;
    }

    footer {
        overflow-x: auto;
    }

    .back-up {
        display: block;
    }

    .submit {
        background: linear-gradient(rgba(116, 77, 57, 0.8), rgba(116, 77, 57, 0.8)), url("../media/submit.jpg");

        li {
            border-right: 2px dotted rgba(255, 255, 255, 0.5);

            &:last-of-type {
                border-right: none;
            }
        }
    }

    .attend {
        background: linear-gradient(rgba(206, 177, 98, 0.8), rgba(206, 177, 98, 0.8)), url("../media/attend.jpg");

        h1 {
            font-size: 80px;
        }
    }

    .learn {
        background: linear-gradient(rgba(57, 108, 116, 0.8), rgba(57, 108, 116, 0.8)), url("../media/learn.jpg");
    }

    .people {
        background: linear-gradient(rgba(100, 63, 78, 0.8), rgba(100, 63, 78, 0.8)), url("../media/more.jpg");

        figure {
            border: none;
            padding: 0;
            margin: 0;
            max-width: 300px;
        }
    }

    .section {
        min-height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }

    .splash {
        height: 100vh;
    }

    .colcontainer {
        flex-direction: row;
    }

    .splashcol {
        h1 {
            transition: opacity 0.2s;
        }

        div {
            transition: opacity 0.2s;
            opacity: 0.7;
        }

        &:hover {
            h1 {
                transform: scale(1.05);
            }

            div {
                opacity: 1;
            }
        }
    }

    .submitc {
        h3 {
            top: 60%;
            color: $text_light_light;
        }

        &:hover {
            h3 {
                color: $text_light_heavy;
                font-size: 20px;
            }
        }
    }

    .submit-button {
        &:hover {
            background-color: $bg_dark_med;
        }
    }

    .attend-button {
        &:hover {
            background-color: $bg_dark_med;
        }

        font-size: 36px;
        width: auto;
    }

    .submit-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        p {
            padding: 5px 40px;
            text-align: center;
            margin: 0;
        }
    }

    .narrative {
        border-right: 2px solid rgba(0, 0, 0, .3);
        border-bottom: 2px solid rgba(0, 0, 0, .3);
    }

    .experimental {
        border-bottom: 2px solid rgba(0, 0, 0, .3);
    }

    .documentary {
        border-right: 2px solid rgba(0, 0, 0, .3);
    }

    .attend-split {
        div {
            margin-bottom: 0;
        }
    }

    .nathaniel-bio {
        img {
            width: 50%;
            float: right;
            margin: 20px 0px 20px 20px;
        }
    }

    .day-schedule {
        h3 {
            &::after {
                width: 40%;
            }

            &::before {
                width: 40%;
            }
        }

        span {
            display: inline;

            &::before {
                content: " - ";
            }
        }
    }

    .peoplediv {
        flex-direction: row;
        align-items: baseline;
    }

    .minus {
        top: 0;
    }
}