
@import "custom/globals.scss";
@import "custom/_colors.scss";
@import "pages/splash.scss";
@import "pages/attend.scss";
@import "pages/submit.scss";
@import "pages/learn.scss";
@import "pages/people.scss";

// BASE STUFF -----------------------------

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    height: auto;
    font-family: $body_font;
    font-size: 14pt;
    color: $text_dark_med;
    background-color: $bg_dark_full;
    text-align: center;

    &::-webkit-scrollbar {
        background-color: $bg_dark_full;
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $bg_light_light;

        &:hover {
            background-color: $bg_light_med;
        }
    }
}

// GENERAL SECTION STUFF -----------------------------

section {
    position: relative;
}

.section {
    min-height: calc(100vh - #{$topbar_min});

    // background-size: auto 30px;
    background-repeat: no-repeat;

    article {
        min-height: inherit;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $text_light_heavy;
        background-color: $bg_dark_light_med;
    }

    h1 {
        font-family: "DIN Alternate Bold";
        font-size: 45px;
        margin: 0;
        padding: 20px 10px;
    }

    h2 {
        font-family: $header2_font;
    }

    p {
        // margin: 0 30px;
        padding: 10px 30px 20px 30px;
        text-align: left;
    }
}

// TABLET MODE -----------------------------

@media screen and (min-width: 800px) {

    // TODO: Refactor these into their own sections

    .splash {
        height: 100vh;
    }

    .headerspace {
        height: 0;
    }

    .top {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
        padding: 0;
        margin-top: 8vh;
        background: none;

        height: 11vh;
        min-height: 110px;
        max-height: 165px;

        width: 30vh;
        min-width: 300px;
        max-width: 450px;

        h3 {
            display: block;
            color: white;
            font-family: $title_font;
            font-size: 4vh;
            margin: 20px 0;
        }
    }

    .logo {
        width: auto;
        height: inherit;
        background-image: url("../media/logo.png") !important;
    }

    p {
        margin: 0 30px;
    }

    footer {
        overflow-x: auto;
    }

    .colcontainer {
        flex-direction: row;
    }

    .section {
        h1 {
            font-size: 60px;
        }
    }

    .submit {
        a {
            margin-left: auto;
            margin-right: auto;
        }
    }

    // .submit-list {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     justify-content: center;

    //     ul {
    //         display: block;
    //         border-right: 2px solid $bg_light_med;
    //         border-bottom: 0px;
    //         margin-left: 70px;
    //         text-align: right;

    //     }
    //     div {
    //         flex-grow: 5;
    //         text-align: left;
    //         padding-left: 20px;
    //     }

    //     li {
    //         display:block;
    //         padding: 15px;
    //         padding-right: 50px;
    //         font-size: 25px;
    //     }

    //     p {
    //         font-size: 20px;
    //     }
    // }

    // ATTEND SECTION HEADER

    // .attend-grid {
    //     flex-direction: row;
    //     padding: 40px 40px;
    //     margin: auto;
    //     width: 730px;
    // }

    .minus {
        top: 0;
    }

    h2 {
        text-align: left;
        margin: 0 0;
    }

    p {
        padding: 0 0;
        margin: 0 0;
        margin-bottom: 30px;
        margin-right: 25px;
    }
}

// HOVERSTATE STUFF ------------------------------

@media (pointer: fine) {

    // TODO: Refactor these into their own sections

    .splashcol {
        h1 {
            transition: opacity 0.2s, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        h3 {
            top: 60%;
            color: $text_light_light;
            transition: transform 0.2s;
        }

        &:hover {
            h1 {
                transform: scale(1.2);
            }

            h3 {
                transform: scale(1.1);
            }

            div {
                opacity: .8;
            }
        }
    }

    .submit a {
        transition: 0.3s;

        &:hover {
            background-color: $bg_dark_med;
            border-color: rgba(0,0,0,0);
        }
    }

    .attend-button {
        transition: 0.3s;
        &:hover {
            background-color: $bg_dark_med;
            border-color: rgba(0,0,0,0);

        }
    }

}

// DESKTOP MODE ------------------------------

@media screen and (min-width: 1200px) {

    // TODO: refactor these into their own sections

    .back-up {
        display: block;
    }

    .submit {
        background: linear-gradient($bg_submit_desktop, $bg_submit_desktop), url("../media/submit_bg.jpg");
    }

    // .submit-button {
    //     // max-width: 650px;
    //     font-size: 80px;
    // }

    .attend {
        background: linear-gradient($bg_attend_desktop, $bg_attend_desktop), url("../media/attend_bg.jpg");

        h1 {
            font-size: 80px;
        }
    }

    .learn {
        background: linear-gradient($bg_learn_desktop, $bg_learn_desktop), url("../media/learn_bg.jpg");
    }

    .people {
        background: linear-gradient($bg_people_desktop, $bg_people_desktop), url("../media/more_bg.jpg");

        figure {
            border: none;
            padding: 0;
            margin: 0;
            max-width: 300px;
        }
    }

    .section {
        min-height: 100vh;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;

        h1 {
            font-size: 90px;
        }
    }

    .prev-winners {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 50px;

        p {
            padding: 5px 40px;
            text-align: center;
            margin: 0;
        }

        div {
            padding: 20px;
        }
    }

    .narrative {
        border-right: 2px solid $bg_light_med;
        border-bottom: 2px solid $bg_light_med;
    }

    .experimental {
        border-bottom: 2px solid $bg_light_med;
    }

    .documentary {
        border-right: 2px solid $bg_light_med;
    }

    .attend-split {
        div {
            margin-bottom: 0;
        }
    }

    .nathaniel-bio {
        img {
            width: 50%;
            float: right;
            margin: 20px 0px 20px 20px;
        }
    }

    .day-schedule {
        h3 {
            &::after {
                width: 40%;
            }

            &::before {
                width: 40%;
            }
        }

        span {
            display: inline;

            &::before {
                content: " - ";
            }
        }
    }

    .peoplediv {
        flex-direction: row;
        align-items: baseline;
    }
}
