@use "../helpers/variables";
@use "../helpers/colors";
@use "../helpers/breakpoints";
@use "../components/section";

.learn {

    @include section.background(colors.$learn, "../media/learn_bg.jpg");

    h3 {
        font-size: 1.3em;
        margin-top: 0;
    }

    .about-phyff {
        p {
            max-width: 800px;
            margin: auto;
            padding: 20px;
            border-bottom: 2px solid rgba(255, 255, 255, .2);
    
            &:last-child {
                border-bottom: none;
            }
        }
    }
    
    .prev-winners {
        span {
            &::after {
                content: " - ";
            }
    
            &::before {
                content: " - ";
            }
    
            font-weight: bold;
            font-style: normal;
        }
    }
    
    .inline-link {
        text-decoration: underline;
    }
    
    .nathaniel-bio {
        text-align: left;
        margin: 20px 20px 20px 20px;
    
        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    @include breakpoints.width(breakpoints.$desktop) {

        .prev-winners {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 20px 50px;
    
            p {
                padding: 5px 40px;
                text-align: center;
                margin: 0;
            }
    
            div {
                padding: 20px;
            }
        }
    
        .narrative {
            border-right: 2px solid colors.$bg-white-medium;
            border-bottom: 2px solid colors.$bg-white-medium;
        }
    
        .experimental {
            border-bottom: 2px solid colors.$bg-white-medium;
        }
    
        .documentary {
            border-right: 2px solid colors.$bg-white-medium;
        }

    }

}

// .workshop-list {
//     li {
//         cursor: pointer;
//         list-style: none;
//         -webkit-touch-callout: none;
//         -webkit-user-select: none;
//         -khtml-user-select: none;
//         -moz-user-select: none;
//         -ms-user-select: none;
//         user-select: none;

//         &:before {
//             content: "+";
//             font-size: 30px;
//             padding: 0 15px;
//             float: left;
//         }

//         &:nth-child(2n+1) {
//             background-color: $bg_dark_extra_light;
//         }
//     }

//     padding: 0;
//     margin: 0;
//     margin-bottom: 20px;
//     text-align: left;

//     h3 {
//         margin: 0;
//         padding: 10px;
//         margin: none;
//     }

//     p {
//         height: 100vh;
//         max-height: 0px;
//         padding: 0 10px;
//         margin: 0;
//         overflow-y: hidden;
//         opacity: 0;
//         transition: max-height 0.5s, opacity 0.5s;
//     }
// }

// TODO: move all this to components

.open {
    &:before {
        content: "-" !important;
    }

    p {
        opacity: 1 !important;
    }
}