html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto Mono", monospace, sans-serif;
  color: rgba(0, 0, 0, .87);
  background-color: black;
  text-align: center;
}

.top {
  display: block;
  padding: 10px 0;
  margin: 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, .8);
}

.logo {
  height: inherit;
}

section {
  /* height: calc((100% - 120px)/4); */
  min-height: calc(100vh - 120px);
}

.splash {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.headerspace {
  height: 120px;
}

.colcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 7;
}

.splashcol {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  background-size: cover;
  background-position: center center;
}

.splashcol div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.submitc {
  background-image: url("media/placeholder1.png");
}
.submitc div {
  background-color: rgba(116, 77, 57, 0.5);
}

.attendc {
  background-image: url("media/placeholder2.png");
}
.attendc div {
  background-color: rgba(57, 108, 116, 0.5);
}

.learnc {
  background-image: url("media/placeholder3.png");
}
.learnc div {
  background-color: rgba(159, 151, 85, 0.5);
}

.splashcol h1 {
  color: white;
  z-index: 1;
  width: auto;
  margin: auto;
  font-size: 40px;
}

.footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: rgba(255, 255, 255, .54);
}

.minus {
  position:relative;
  top:-120px;
}

.submit {
  background-color: rgba(116, 77, 57, 1);
}

.attend {
  background-color: rgba(57, 108, 116, 1);
}

.learn {
  background-color: rgba(159, 151, 85, 1);
}

@media screen and (min-width: 700px) {
  html {
    height: 400%;
  }
  .headerspace {
    height: 0;
  }
  .top {
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    top: 5%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
    max-height: 25vh;
    background: none;
    transition: 0.2s;
  }
  .logo {
    width: auto;
    max-height: inherit;
  }
  .smaller {
    height: 120px;
    top: 10px;
  }
  section {
    min-height: 100vh;
  }
  .splash {
    height: 100vh;
  }
  .colcontainer {
    flex-direction: row;
  }
  .splashcol h1, .splashcol div {
    transition: 0.2s;
  }
  .splashcol:hover h1 {
    transform: scale(1.05);
  }
  .splashcol div {
    opacity: 0.7;
  }
  .splashcol:hover div {
    opacity: 1;
  }
  .minus {
    top: 0;
  }
}