html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto Mono", monospace, sans-serif;
  color: rgba(0, 0, 0, .87);
  background-color: black;
  text-align: center;
}

.top {
  display: block;
  padding: 10px 0;
  margin: 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, .8);
}

.logo {
  height: inherit;
}

section {
  min-height: calc(100vh - 120px);
}

.section article {
  min-height: inherit;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255,255,255,0.87);
}

.section h1 {
  font-size: 32px;
  margin: 0;
  padding: 20px 0;
  background-color: rgba(0,0,0,0.3);
}

.section p {
  margin: 0 30px;
  padding: 10px 0 20px 0;
  text-align: left;
}

.splash {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.headerspace {
  height: 120px;
}

.colcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 7;
}

.splashcol {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  background-size: cover;
  background-position: center center;
}

.splashcol div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.submitc {
  background-image: url("media/submit.png");
}
.submitc div {
  background-color: rgba(116, 77, 57, 0.5);
}

.attendc {
  background-image: url("media/attend.png");
}
.attendc div {
  background-color: rgba(57, 108, 116, 0.5);
}

.learnc {
  background-image: url("media/learn.png");
}
.learnc div {
  background-color: rgba(143, 123, 69, 0.5);
}

.splashcol h1 {
  color: white;
  z-index: 1;
  width: auto;
  margin: auto;
  font-size: 40px;
}

.footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: rgba(255, 255, 255, .54);
}

.minus {
  position:relative;
  top:-120px;
}

.submit {
  background-color: rgba(116, 77, 57, 1);
}

.submit-div {
  background-color: rgba(0,0,0,0.3);
}

.submit-button {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 50px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 30px;
  padding: 30px 70px;
  margin: 20px 0 0 0;
  transition: 0.2s;
}

.submit ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.submit li {
  list-style: none;
  flex-grow: 1;
  padding: 15px 0;
}

.attend {
  background-color: rgba(57, 108, 116, 1);
}
.attend-button {
  transition: 0.2s;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 30px;
}

.learn {
  background-color: rgb(206, 177, 98);
}
.learn h2 {
  margin: 0;
  padding: 20px 0;
}
.learn h2, .people {
  background-color: rgba(0, 0, 0, 0.3);
}
.people {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.people figure {
  margin: 0 auto;
}
.people figcaption {
  margin: 20px;
}
.people img {
  width: 300px;
}

@media screen and (min-width: 700px) {
  html {
    height: 400%;
  }
  .headerspace {
    height: 0;
  }
  .top {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 5%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
    max-height: 25vh;
    background: none;
  }
  .logo {
    width: auto;
    max-height: inherit;
  }
  section {
    min-height: 100vh;
  }
  .section article {
    background-color: rgba(0,0,0,.3);
  }
  .section h1 {
    background: none;
  }
  .splash {
    height: 100vh;
  }
  .colcontainer {
    flex-direction: row;
  }
  .splashcol h1, .splashcol div {
    transition: 0.2s;
  }
  .splashcol:hover h1 {
    transform: scale(1.05);
  }
  .splashcol div {
    opacity: 0.7;
  }
  .splashcol:hover div {
    opacity: 1;
  }
  .submit-button:hover, .attend-button:hover {
    background-color: rgba(0,0,0,0.5);
  }
  .submit li {
    border-right: 2px dotted rgba(255,255,255,0.5);
  }
  .submit li:last-of-type {
    border-right: none;
  }
  .people {
    flex-direction: row;
    align-items: baseline;
    /* margin: auto; */
  }
  .people figure {
    border: none;
    padding: 0;
    margin: 0;
    max-width: 300px;
  }
  .minus {
    top: 0;
  }
}