
$bg_dark_full: black;
$bg_dark_heavy: rgba(0, 0, 0, .8);
$bg_dark_med: rgba(0, 0, 0, 0.5);
$bg_dark_light_med: rgba(0, 0, 0, .3);
$bg_dark_light: rgba(0, 0, 0, 0.3);
$bg_dark_extra_light: rgba(0, 0, 0, 0.2);

$bg_light_heavy: rgba(255, 255, 255, 0.7);
$bg_light_med: rgba(255, 255, 255, 0.4);
$bg_light_light: rgba(255, 255, 255, 0.2);
$bg_light_extra_light: rgba(0,0,0,0.15);

$highlight: rgb(253, 215, 1);

$bg_submitc: rgb(117, 73, 97);
$bg_submit_mobile: linear-gradient(rgb(87, 59, 74), rgb(117, 73, 97));
$bg_submit_desktop: rgba(117, 73, 97, .6);

$bg_attendc: rgb(91, 85, 141);
$bg_attend_mobile: linear-gradient(rgb(61, 58, 88), rgb(91, 85, 141));
$bg_attend_desktop: rgba(91, 85, 141, .6);

$bg_learnc: rgb(47, 72, 112);
$bg_learn_mobile: linear-gradient(rgb(30, 48, 65), rgb(47, 72, 112));
$bg_learn_desktop: rgba(47, 72, 112, .6);

$bg_peoplec: rgb(62, 74, 139);
$bg_people_mobile: linear-gradient(rgb(39, 44, 73), rgb(62, 74, 139));
$bg_people_desktop: rgba(62, 74, 139, .6);