@use "../helpers/variables";
@use "../helpers/colors";
@use "../helpers/type";


@mixin background($base-color, $background-url) {

    // base mobile case
    background-image: linear-gradient(color.adjust($basecolor, $saturation: -10%, $lightness: -20%), $basecolor);

    @include on-mouse() {

        // so we don't have to write this twice
        $bgcolor: color.change($base-color, $alpha: colors.$desktop-section-alpha);

        // This workaround lets us have a transparent single-color background over an image
        background: linear-gradient($base-color, $base-color, url($image-file));

    }

}

section {
    position: relative;
}

.section {
    min-height: calc(100vh - variables.$topbar_min);

    // background-size: auto 30px;
    background-repeat: no-repeat;

    article {
        // standard article formatting
        min-height: inherit;
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: colors.$white-heavy;

        // TODO: come back to this: why is it here?!
        // background-color: rgba(0, 0, 0, colors.$white-alpha0);
    }

    h1 {
        font-family: type.$title;
        font-size: 2.8em;
        margin: 0;
        padding: 20px 10px;
    }

    p {
        // margin: 0 30px;
        padding: 10px 30px 20px 30px;
        text-align: left;
    }
}