
// specific colors
$topbar: rgba(black, .8);
$footer: black;
$highlight: rgb(253, 215, 1);

// text colors
$white-heavy: rgba(white, .8);
$white-medium: rgba(white, .5);
$white-light: rgba(white, .3);

$black-heavy: rgba(black, .87);
$black-medium: rgba(black, .6);
$black-light: rgba(black, .38);

$bg-black-medium: rgba(black, .5);
$bg-black-light: rgba(black, .3);

// alpha of color over background images
$desktop-section-alpha: .6;

// Main theme colors
$submit: rgb(117, 73, 97);
$attend: rgb(91, 85, 141);
$learn: rgb(47, 72, 112);
$people: rgb(62, 74, 139);